
$color: white;

.icons {
    display: flex;
    justify-content: center;
    padding: 0 9%;
    background: #212529;
    a {
        text-decoration: none;
        color: $color;
        align-items: center;
            i {
                margin: 5px;
            font-size: 24px;
            color: $color;
            transition: all 0.5s ease;
            }
    }
}