.carta-nosotros{
    .carta-nosotros-body{
        background-color: #212529;
        h5{
            color: white;
        }
        p{
            color: white;
        }
        a{
            color: white;
        }
        .gracias{
            background-color: #212529;
            color: white;
        }
    }
}

.caja-info{
    background-color: #212529;
    .ccarta{
        margin: 5px;
    }
}